* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Configurações do fundo */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
 
.background {
    background: url(../img/banner/James_and_Bob\ 1.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/* Caixa do formulário */
.login{
    background: rgba(255, 255, 255, 0.50);
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
 
/* Inputs do formulário */
.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
 
/* Botão principal */
.login button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.login button[type="submit"]:hover {
    background-color: #0056b3;
}
.editHr{
    /* margin-left: -160px;
    margin-bottom: -36px; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.editHr > hr{
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: #e7e7e7;
}
 
/* Botões sociais */
.sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    
}
 
.sociais img {
    /* width: 70px;
    height: 40px; */
    width: 80px;
    height: 70px;
    border-radius: 40px;
    display: inline-block; /* Para os elementos ficarem na mesma linha */
    padding: 10px;
}


